
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 50vh;
  scroll-behavior: smooth;
  font-size: 24px;
  line-height: 1.5;
  color: #6A6A70;
}

/**main**/

.container {
  width: 80%;
  margin: 3% auto ;
}

.login,
.forgot-right,
.forgot-heading,
.email-txt {font-weight: bold;}

.login {
  font-size: 1rem;
}

.forgot-right {
  font-size: .5rem;
  text-align: right;
  padding: .3em 0;
  margin: 1.5em 0
}

.forgot-heading {
  font-size: 2.8rem;
  color: #FF692D;
  padding: 0;
  margin: .2em 0;
  line-height: 1;
}

label {
  width: 100%;
}

input {
  /*font-weight: bold;*/
  padding: .85em 3em;
  background-color: #6F5C5529;
  border: none;
  border-radius: .2em;
  outline: none;
  width: 100%;
  margin-top: 2em;
  color: #000;
}

.email-txt {
  font-size: .45rem;
  padding: 1em 2em 0 0;
}

button {
  width: 100%;
  background-color: #FF692D;
  border: none;
  border-radius: .15em;
  text-align: center;
  color: #ffff;
  padding: .65em;
  margin: 2em 0;
  outline: none;
}