@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.alert {
  background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    bottom: 1.7rem;
    right: 0;
    z-index: 1000;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showTheAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.showAlert {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0%{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  40%{
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  80% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }
}

.alert.hideAlert {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0%{
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  40%{
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.alert .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert .message {
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}

.close-btn:hover {
    background: #ffc766;
}

.close-btn .fa-times {
  color: #ce8500;
  font-size: 22px;line-height: 40px;
}

body {
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

.hamburger {
  position: relative ;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #FF4E17;
  padding-top: 120px;
  transition: 0.4s;
  z-index: 190;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgba(9, 8, 8, 0.78);

  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #65cf86;
}

@media (min-width: 959px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}


.header {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  height: 80px;
  padding: 0 5rem;
}

.logoImage {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.logoImage.downloadLogo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.header.isScrolling {
  background-color: rgba(87, 47, 47, 0.7);

}

.headerLeft {
  font-size: 18px;
}

.headerRight nav ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.burger-menu {
  display: none
}

.headerRight nav ul li {
  list-style: none;
  margin-right: 20px;
}

.headerRight nav ul .headerButton {
  width: 196px;
height: 58px;
background-color: #FF4E17;
border-radius: 20px;
color: white;
border: none;
apperance: none;
outline: none;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
cursor: pointer;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
}

.fas.fa-times.close {
  display: none;
}

/* HERO SECTION ==================================================== */

#hero {
  position: relative;
  background: url("./assets/images/rice-min.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: rgba(9, 8, 8, 0.8);
}

#hero .heroDetails {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
}

#hero .heroDetails h1 {
  font-size: 40px;
  width: 55%;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 75px;
text-align: center;
margin-bottom: 1rem;
}

#hero .heroDetails p {
  font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 34px;
text-align: center;
margin-bottom: 2rem;

}

#hero .heroDetails .heroButton {
  width: 196px;
height: 58px;
background-color: #FF4E17;
border-radius: 16.96px;
color: white;
border: none;
apperance: none;
outline: none;
font-style: normal;
font-weight: bold;
font-size: 30.5243px;
line-height: 46px;
}

#hero .search {
  background: rgba(0, 0, 0, 0.21);
  display: flex;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: auto;
  justify-content: center;
    text-align: center;
    width: 100%;
    height: 106px;
}

#hero .search .searchContainer {
  width: 596px;
height: 55px;
background-color: #fff;
display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .search .searchContainer input {
  flex: 9;
  height: 100%;
    padding: 1rem;
    width: 100%;
    border: none;
    apperance: none;
    outline: none;
    caret-color: #FF4E17;
}

#hero .search .searchContainer input::placeholder {
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: rgba(0, 0, 0, 0.4);
}

#hero .search .searchContainer .searchButton {
  flex: 3;
  height: 100%;
  background: #FF4E17;
  font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: white;
border: none;
apperance: none;
outline: none;
}

/* FOODITEMS ============================================================ */

#foodItems {
  background: white;
  color: black;
  width: 100%;
  padding: 2rem;
}

#foodItems .container {
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
}

#foodItems .container .foodItem {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

#foodItems .container .foodItem img{
  width: 130px;
height: 140px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* MAP =================================================================== */

#map {
  background: #D1D1D1;
  padding: 3rem;
  height: 100%
  width: 100%;
}

#map .cardItems {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  -ms-align-items: center;
  align-items: center;
}

#map .cardItems .cardItem.white {
  padding: 1rem;
  width: 330px;
height: 250px;
background: #ffffff;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: space-between;
-ms-align-items: center;
align-items: center;
border-radius: 10px;
color: black;
}

#map .cardItems .cardItem.black {
  width: 330px;
height: 250px;
background: rgba(9, 8, 8, 0.78);
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: space-between;
-ms-align-items: center;
align-items: center;
border-radius: 10px;
color: white;
padding: 1rem;
}

#map .cardItems .cardItem .cardItemLeft {
  flex: 1
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;

}

#map .cardItems .cardItem .cardItemLeft h3 {
  margin-bottom: 1rem;
  width: 70%;
}

#map .cardItems .cardItem .cardItemLeft p {
  margin-bottom: 1rem;
  width: 70%;
}

#map .cardItems .cardItem .cardItemLeft #price {
  color: #FF4E17;
  font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
}

#map .cardItems .cardItem .cardItemRight {
  flex: 1;
}

#map .cardItems .cardItem .cardItemRight .circle.orange {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FF4E17;
}

#map .cardItems .cardItem .cardItemRight .circle.white {
  position: relative;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #EEEAEA;
}

#map .cardItems .cardItem .cardItemRight .circle img {
  position: absolute;
    left: -1.5rem;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  height: 100%;
  object-fit: cover;
}

#popular {
  background-white: #fff;
  color: #666666;
}

#popular .container {
  padding: 3rem 1rem;
}

#popular .container h3 {
  text-align: center;
}

#popular .container .categoryLists {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 1rem;
}

#popular .container .categoryLists .categoryList {
  margin-right: 2rem;
  width: 128px;
height: 45px;
border: 1px solid #FF4E17;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
text-align: center;
border-radius: 10px;
cursor: pointer;
}

.categoryListsDetailsContainer {

  margin-top: 2rem;
}

.categoryListsDetails {
width: 324px;
height: 100%;
background: #FFFFFF;
border: 1px solid #C4C4C4;
border-radius: 20px;
margin-bottom: 1rem;

}

.categoryListDetail {
padding:1.5rem;

}

#popular .container .categoryLists .categoryList.active {
  color: white;
  background-color: #FF4E17;
}

#popular img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryListDetail h4 {
  margin-top: 2rem;
}

.categoryListDetail p {
  margin-top: 1rem;
}

.priceCart {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.priceCart p {
  font-weight: bold;
  color: black;
}

.priceCart .cart {
  background-color: #FF4E17;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.priceCart .cart i {
  color: white;
}

.categoryListDetailsGroup {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  -ms-align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.categoryButtonContainer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 2rem;

}

#categoryButton {
  width: 170px;
height: 52px;
background: #FF4E17;
border-radius: 10px;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 108%;
color: #FFFFFF;
apperance: none;
border: none;
outline: none;
}

/* FAST --------------------------------------------------------- */
#fast {
  padding: 2rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  background: #333333;

}

.fastLeft {
  background: #333333;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  -ms-align-items: center;
  align-items: center;
  flex: 1;
}


.fastLeft h1, .fastRight h1 {
  font-style: normal;
font-weight: bold;
font-size: 40.753px;
line-height: 61px;
color: #FFFFFF;
width: 80%;
margin-bottom: 1rem;
}

.fastLeft p, .fastRight p {
  font-style: normal;
font-weight: bold;
font-size: 25.4707px;
line-height: 38px;
color: #FFFFFF;
margin-bottom: 1rem;
}

.fastButton {
  width: 180.51px;
height: 57.07px;
background: #FF4E17;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
border: none;
apperance: none;
outline: none;
font-style: normal;
font-weight: bold;
font-size: 20.3765px;
line-height: 31px;
color: #FFFFFF;
cursor: pointer;
}

.fastImage {
  margin-right: 1.5rem;
}

.fastImage img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.fastRight {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  background: #333333;
}

.fastRight .circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #FF4E17;
}

.fastRight .circle.first {
  display: flex;
    justify-content: center;
    align-items: center;
  position: absolute;
  top: 3rem;
    right: 0;
    bottom: 0rem;
    left: 12rem;
}

.fastRight .circle.second {
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
  position: absolute;
  top: 15rem;
right: 0;
left: 6rem;
}

.fastRight .notify {
  position: absolute;
  right: 0;
    top: 0;
  width: 30px;
  height: 30px;
  background-color: #233154;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 50%
}


.fastRight .circle.third {
  position: absolute;
    top: 27rem;
    right: 0;
    bottom: 0rem;
    left: 13rem;
}

.fastRight .circle.fourth {
  position: relative;
    left: 20rem;
    color: #233154;

    top: 14rem;
    width: 60px;
    height: 60px;
}

.fastRight .circle.fourth::after {
  position: absolute;
  content: "Customer";
  top: 5rem;
}

.fastRight .circle.fifth {
  position: relative;
    top: 7.89rem;
    left: 34rem;
    right: 0;
    bottom: 0;
    color: #233154;

    width: 60px;
    height: 60px;

}

.fastRight .circle.fifth::after {
  position: absolute;
  content: "Restaurants";
  top: 5.5rem;
}

.fastRight .circle.sixth {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
top: 3rem;
left: 41rem;
text-align: center;
}

.fastRight .circle.seventh {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
    top: -2rem;
    left: 45rem;
}

.fastRight .circle.eighth {
  position: relative;
    top: -2rem;
    left: 37rem;
}

.arrow.left {
  width: 120px;
  transform: matrix(-0.53, 0.88, -0.81, -0.55, 0, 0);
  position: absolute;
    top: 12rem;
    right: 0rem;
    left: 8rem;
}

.arrow.right {
  width: 120px;
  transform: matrix(0.52, 0.88, -0.82, 0.54, 0, 0);
  position: absolute;
    top: 24rem;
    right: 0rem;
    left: 9rem;
}

.arrow.arrowRight {
  transform: matrix(0.52, 0.88, -0.82, 0.53, 0, 0);
    width: 120px;
    position: relative;
    top: -2rem;
    left: 44rem;
}

.arrow.arrowLeft {
  transform: matrix(-0.62, 0.82, -0.75, -0.63, 0, 0);
    width: 120px;
    position: relative;
    top: -0.7rem;
    left: 41rem;
}


.line {
  margin-top: 14px;
  width: 90px;
  background: #000;
  height: 3px;
  float: left;
}
.point {
  clear: left;
  position: absolute;
  right: 1rem;
    top: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #000;
  float: right;
}

/* DOWNLOAD SECTION =============================================================== */

#download {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  color:  #E5E5E5;
  background-color: #FF4E17;
}

.downloadLeft {
  padding: 2rem;

}

.downloadLeft h2 {
  font-style: normal;
font-weight: bold;
font-size: 63.7826px;
line-height: 96px;
color: #FFFFFF;
margin: 1.5rem 0;
}

.downloadLeft p {
  font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;
width: 68%;
margin-bottom: 1.5rem;
}

#download .downloadRight img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.foodOrderDownload {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.foodOrderDownload .apple {
  margin-right: 1rem;
  border: 2px solid #FFFFFF;
  text-align: center;
  padding: 1rem;
}

.foodOrderDownload .google {
  border: 2px solid #FFFFFF;
  text-align: center;
  padding: 1rem;
}

/* FOOTER ===================================================== */

footer {
  background-color: #333333;
  padding: 0 3rem;
  height: 437px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer h1 {
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
}

footer h1:before,
footer h1:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

footer h1:before {
  right: 0.5em;
  margin-left: -50%;
  top: -2rem;
}

footer h1:after {
  left: 0.5em;
  margin-right: -50%;
  top: -2rem;
}

footer .logoImage.footerImage {
  width: 100px;
  height: 100px;
}


.footerDurations {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footerDurations .footerDuration {
  flex: 1;
}

.footerDurations .footerDuration h3 {
  margin: 1rem 0;
}

.footerDurations .footerDuration:first-child p {
  /* width: 40%; */
}

.footerBottom {
  background-color: #FF4E17;
  padding: 3rem 0;
  width: 100%
}

.footerBottom p {
  margin: auto;
  width: 90%;
  font-style: normal;
font-weight: bold;
font-size: 20px;
color: #FFFFFF;
}

/* LOGIN & SIGNUP MODAL ================================================ */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  color: black;
  margin: 80px auto;
  width: 613px;
background: #FFFFFF;
border-radius: 10px;
  position: relative;
  transition: all 5s ease-in-out;
  height: 80%;
  overflow-x: : hidden;
  overflow-y: scroll;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
    top: 86px;
    right: 14px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.tab-content {
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}

#login-content{
  display: none;
  padding: 1.3rem;
  margin-top: 2rem;
}
 #signUp-content {
   display: none;
   padding: 1.3rem;
   margin-top: 2rem;
 }

 .formTitleAuth {
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   justify-content: space-between;
   -ms-align-items: center;
   align-items: center;
   margin-bottom: 1rem;
 }

 .formTitleAuth img {
  margin-right: 1rem;
  cursor: pointer;
 }

 .show {
   display: block !important;
   transition: all 1000 ease-in;
 }

form .container .links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  background-color: #EEEAEA;

}

.form-group {
  margin-bottom: 1rem;

}

.form-group input {
  width: 422px;
height: 60px;
padding: 1rem;
background: #EEEAEA;
outline: none;
apperance: none;
border: none;
border-radius: 10px;
}

.loginButton {
  background-color: #FF4E17;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 53.19px;
  border: none;
  apperance:none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 108%;
cursor: pointer;
}

.forgot {
  width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#login-content p {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.p-click {
 cursor: pointer;
 font-size: 25px;
}

#login {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 1.3rem;
}

#signUp {
  padding: 1.3rem;

  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

#login.active, #signUp.active {
  background-color: #fff;
}

.authLogin.facebook {
width: 100%;
height: 60px;
border-radius: 10px;
cursor: pointer;
background-color: #3B5598;
color: #EEEAEA;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 108%;
text-align: center;
}

.authLogin.google {
  margin-top: 1rem;
width: 100%;
height: 60px;
filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
cursor: pointer;
background-color: #FFFFFF;
color: #EEEAEA;
display: -webkit-flex;
display: -ms-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 108%;
text-align: center;
color: #000000;
}

/* RESPONSIVE VIEW ========================================================= */
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media screen and (max-width: 703px) {
  .p-click {
    cursor: pointer;
    font-size: 16px;}
}

@media screen and (max-width: 682px) {
  .form-group input {
    width: 100%;
  }

  .formTitleAuth {
    flex-direction: column;
  }

  #signUp-content, #login-content {
    width: 100%
  }
}

@media screen and (max-width: 535px) {
  .p-click {
    cursor: pointer;
    font-size: 14px;}
}

@media screen and (max-width: 430px) {
  form .container .links {
    flex-direction: column;
  }

  .popup .close {
    top: 116px;
  }
}

@media screen and (max-width: 360px) {
  .popup {
    width: 100%;
  }
}

@media screen and (max-width: 1181px) {
  .fastLeft h1, .fastRight h1 {
        font-size: 30px;
  }
  .fastLeft p, .fastRight p {
        font-size: 20px;
  }
  .fastButton {
    font-size: 16px;
  }
}

@media screen and (max-width: 1158px) {
  #map .cardItems {
    flex-wrap: wrap;
  }

  #map .cardItems .cardItem {
    margin-bottom: 1rem;

  }
}

@media screen and (max-width: 1117px) {
  .fastLeft, .fastRight {
    flex-direction: column;
  }

  .fastLeft h1, .fastRight h1 {
    width: 100%
  }
}

@media screen and (max-width: 958px) {
  /* .headerRight {
    display: none;
  } */
  .headerRight nav ul {
    display: none;
  }
  .burger-menu {
    display: block;
  }

  #hero .heroDetails h1 {
    width: 80%;
  }
}

@media screen and (max-width: 753px) {
  .downloadLeft h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 682px) {
  #hero .search {
    padding: 2rem;
  }
  #hero .search .searchContainer {
    width: 100%;
  }

  .footerDurations {
    flex-direction: column;
  }

  .footerDurations .footerDuration {
    margin-top: 2rem;
  }

  footer {
    padding: 3rem;
    height: 100%;
  }
}

@media screen and (max-width: 630px) {
  #fast {
    flex-direction: column;
  }

  .fastLeft, .fastRight {
    margin-bottom: 2rem;
  }

  .foodOrderDownload {
    flex-direction: column;
  }

  .downloadLeft p {
    width: 100%;
  }

 .foodOrderDownload .apple, .foodOrderDownload .google {
   margin-bottom: 1rem;
   width: 100%;
 }
}

@media screen and (max-width: 603px) {
  .downloadRight {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #hero .heroDetails h1 {
    font-size: 30px;
    width: 85%;
  }
  #popular .container .categoryLists {
    flex-direction: column;
    width: 100%
  }

  #popular .container .categoryLists .categoryList {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .categoryListsDetails {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  #map .cardItems .cardItem.white, #map .cardItems .cardItem.black {
    flex-direction: column-reverse;
    height: 100%;
  }

  #map .cardItems .cardItem .cardItemLeft h3 {
    width: 100%;
  }

  #map .cardItems .cardItem .cardItemLeft p {
    width: 100%;
  }

  #hero .search {
    height: none;
  }

  #hero .heroDetails h1 {
    font-size: 40px;
    width: 90%;
  }

  #hero .heroDetails .heroButton {
    font-size: 16px;
  }

  #hero .search .searchContainer {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 360px) {
  #hero .heroDetails h1 {
    font-size: 35px;
  }

  #hero .heroDetails p {
    font-size: 18px
  }

  #hero .heroDetails .heroButton {
    font-size: 16px;
  }

  .searchButton {
    font-size: 16px;
  }

  .header {
    padding: 0 2rem;
  }
}

/* PRELOADER STYLING */
.preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #FF4E17;
z-index: 9999;
text-align: center;
}

.preloader-icon {
position: relative;
top: 45%;
width: 100px;
animation: shake 1.5s infinite;
}

@keyframes shake {
0% { transform: translate(1px, -1px) rotate(0deg);}
10% { transform: translate(1px, -3px) rotate(-1deg);}
20% { transform: translate(1px, -5px) rotate(-3deg);}
30% { transform: translate(1px, -7px) rotate(0deg);}
40% { transform: translate(1px, -9px) rotate(1deg);}
50% { transform: translate(1px, -11px) rotate(3deg);}
60% { transform: translate(1px, -9px) rotate(0deg);}
70% { transform: translate(1px, -7px) rotate(-1deg);}
80% { transform: translate(1px, -5px) rotate(-3deg);}
90% { transform: translate(1px, -3px) rotate(0deg);}
100% { transform: translate(1px, -1px) rotate(-1deg);}
}
